<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sw.aot.example">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:name=".ExampleApplication"
        android:supportsRtl="true">

        <activity android:name="com.sw.aot.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.sw.aot.example.ExampleActivity"/>
    </application>
</manifest>
